<script>

    import { precisionRound } from "../calc";

    let gramsGroundCoffee = 20;
    let gramsWater = gramsGroundCoffee * 6;
    let ratio = gramsGroundCoffee / gramsWater;

    function onGroundCoffeeUpdated() {
        gramsWater = precisionRound(gramsGroundCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsGroundCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onGroundCoffeeUpdated();
    }

</script>

<h1>Aramse SOFI 72 Brew Guide</h1>

<label>
    <p>Ratio: {ratio}<p>
    <input type=number bind:value="{ratio}" on:change="{onRatioUpdated}" min=0>
</label>

<label>
    <p>Water: {gramsWater}<p>
    <input type=number bind:value="{gramsWater}" on:input="{onWaterUpdated}" min=0>
</label>

<label>
    <p>Coffee: {gramsGroundCoffee}<p>
    <input type=number bind:value="{gramsGroundCoffee}" on:input="{onGroundCoffeeUpdated}" min=0>
</label>

<h2>Instructions</h2>

<ol>
    <li>Add {gramsGroundCoffee}g of finely ground coffee to the brew chamber. A grind size between espresso and moka pot is a good starting point.</li>
    <li>Using a circular motion, move the WDT tool through the bed of coffee several times to declump and distribute the grounds. This step is critical so take your time to ensure you have a flat bed. Fine particles may exit through the filter during distribution and can be discarded.</li>
    <li>Assemble the brew chamber on to the collection chamber. DO NOT press down too tightly as this will create an airtight seal and stall the brew.</li>
    <li>Place SOFI on the scales and tare. Start a timer and pour {gramsGroundCoffee * 2}g of hot water (1 min off boil) onto the bed (Use a spoon held close to the bed to break the stream from the kettle and deliver the water more gently onto the coffee.</li>
    <li>Pick up SOFI with both hands and swirl well 5 - 7 times to settle the bed. Use the silicone band for easier handling.</li>
    <li>Place on scales and wait until the timer reaches 1 min. This allows the coffee to bloom.</li>
    <li>Using the spoon technique, slowly pour hot water until the scale reads {gramsGroundCoffee * 6}g.</li>
    <li>Pick up SOFI with both hands and swirl gently 2 - 4 times.</li>
    <li>Cover the brew chamber lightly with the lid. DO NOT press down too tightly as this will create an airtight seal and stall the brew.</li>
    <li>Wait for the draw down to complete. This can take between 6 - 15 mins depending on the coffee, its freshness and the grind size. Enjoy the delicious brew/decoction anyway you like - neat, diluted with water, or with milk.</li>
</ol>


