<script>

    import { precisionRound } from "../calc";

    let gramsGroundCoffee = 15;
    let gramsWater = 250;
    let ratio = gramsGroundCoffee / gramsWater;

    function onGroundCoffeeUpdated() {
        gramsWater = precisionRound(gramsGroundCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsGroundCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onGroundCoffeeUpdated();
    }

</script>

<h1>A Better 1 Cup V60 Technique</h1>

<label>
    <p>Ratio: {ratio}<p>
    <input type=number bind:value="{ratio}" on:change="{onRatioUpdated}" min=0>
</label>

<label>
    <p>Water: {gramsWater}<p>
    <input type=number bind:value="{gramsWater}" on:input="{onWaterUpdated}" min=0>
</label>

<label>
    <p>Coffee: {gramsGroundCoffee}<p>
    <input type=number bind:value="{gramsGroundCoffee}" on:input="{onGroundCoffeeUpdated}" min=0>
</label>

<h2>Instructions</h2>

<ul>
    <li>0m00s: Pour {precisionRound(gramsWater/5, 1)} of water to bloom</li>
    <li>0m10s - 0m15s: Gently Swirl</li>
    <li>0m00s - 0m45s: Bloom</li>
    <li>0m45s - 1m00s: Pour up to {precisionRound(gramsWater * 0.4, 1)} total (40% total weight)</li>
    <li>1m00s - 1m10s: Pause</li>
    <li>1m10s - 1m20s: Pour up to {precisionRound(gramsWater * 0.6, 1)} total (60% total weight)</li>
    <li>1m20s - 1m30s: Pause</li>
    <li>1m30s - 1m40s: Pour up to {precisionRound(gramsWater * 0.8, 1)} total (80% total weight)</li>
    <li>1m40s - 1m50s: Pause</li>
    <li>1m50s - 2m00s: Pour up to {gramsWater} total (100% total weight)</li>
    <li>2m00s - 2m05s: Gently swirl</li>
    <li>Drawdown should finish around 3:00, but expect some variance here. Taste is the most important thing!</li>
</ul>


