<script>

    import { precisionRound } from "../calc";

    let gramsGroundCoffee = 60;
    let gramsWater = 1000;
    let ratio = gramsGroundCoffee / gramsWater;

    function onGroundCoffeeUpdated() {
        gramsWater = precisionRound(gramsGroundCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsGroundCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onGroundCoffeeUpdated();
    }

</script>

<h1>The Ultimate V60 Technique</h1>

<label>
    <p>Ratio: {ratio}<p>
    <input type=number bind:value="{ratio}" on:change="{onRatioUpdated}" min=0>
</label>

<label>
    <p>Water: {gramsWater}<p>
    <input type=number bind:value="{gramsWater}" on:input="{onWaterUpdated}" min=0>
</label>

<label>
    <p>Coffee: {gramsGroundCoffee}<p>
    <input type=number bind:value="{gramsGroundCoffee}" on:input="{onGroundCoffeeUpdated}" min=0>
</label>

<h2>Instructions</h2>

<ul>
    <li>0:00 - Bloom with {precisionRound(2 * gramsGroundCoffee, 1)}g of water</li>
    <li>0:45 - Add water aiming for {precisionRound(gramsWater * 0.6, 1)} within the next 30 seconds</li>
    <li>1:15 - Add water aiming for {gramsWater} within the next 30 seconds</li>
    <li>1:45 - Stir 1x clockwise and 1x anticlockwise with spoon</li>
    <li>3:30 - Brew finished</li>
</ul>


