<script>

    import { precisionRound } from "../calc";

    let gramsGroundCoffee = 30;
    let gramsWater = 500;
    let ratio = gramsGroundCoffee / gramsWater;

    function onGroundCoffeeUpdated() {
        gramsWater = precisionRound(gramsGroundCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsGroundCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onGroundCoffeeUpdated();
    }

</script>

<h1>V60 Recipe by Mikolaj Pociecha from Brew</h1>

<label>
    <p>Ratio: {ratio}<p>
    <input type=number bind:value="{ratio}" on:change="{onRatioUpdated}" min=0>
</label>

<label>
    <p>Water: {gramsWater}<p>
    <input type=number bind:value="{gramsWater}" on:input="{onWaterUpdated}" min=0>
</label>

<label>
    <p>Coffee: {gramsGroundCoffee}<p>
    <input type=number bind:value="{gramsGroundCoffee}" on:input="{onGroundCoffeeUpdated}" min=0>
</label>

<h2>Instructions</h2>

<ul>
    <li>Preheat the V60 and collection vessel.</li>
    <li>Place the filter and rinse with hot water.</li>
    <li>Add ground coffee.</li>
    <li>Bloom with {precisionRound(80/500 * gramsWater, 1)}g of water for 45s</li>
    <li>Add {precisionRound(120/500 * gramsWater, 1)}g of water with an aggressive pour, leave for 45s</li>
    <li>Gently pour the remaining {precisionRound(300/500 * gramsWater, 1)}g of water.</li>
    <li>Brew should be done in approx. 5 min.</li>
</ul>


