<script>

    import { precisionRound } from "../calc";

    export let title = "Tetsu Kasuya 4:6 method for V60";

    let gramsGroundCoffee = 60;
    let gramsWater = 1000;
    let ratio = gramsGroundCoffee / gramsWater;
    let strength = 2;
    let sweetnessAcidityRatio = 0.5;

    $: fourPours = strength >= 2;
    $: fivePours = strength >= 3;
    $: sixPours = strength >= 4;

    let pour4Time = "";
    let pour5Time = "";
    let pour6Time = "";

    $: {
      let seconds = 90 + precisionRound(120 / strength, 0);
      let minutes = Math.floor(seconds / 60);
      let modsecs = seconds % 60;
      pour4Time = `${minutes}:${("0" + modsecs).slice(-2)}`;
    }

    $: {
      let seconds = 90 + precisionRound(120 / strength * 2, 0);
      let minutes = Math.floor(seconds / 60);
      let modsecs = seconds % 60;
      pour5Time = `${minutes}:${("0" + modsecs).slice(-2)}`;
    }

    $: {
      let seconds = 90 + precisionRound(120 / strength * 3, 0);
      let minutes = Math.floor(seconds / 60);
      let modsecs = seconds % 60;
      pour6Time = `${minutes}:${("0" + modsecs).slice(-2)}`;
    }

    $: gramsPour1 = precisionRound(
        gramsWater * 0.4 * sweetnessAcidityRatio, 
        0
      );

    $: gramsPour2 = precisionRound(
        gramsWater * 0.4 * (1-sweetnessAcidityRatio), 
        0
      );
    

    $: gramsPourSixty = precisionRound(
        gramsWater * 0.6 / strength, 
        0
      );

    function onGroundCoffeeUpdated() {
        gramsWater = precisionRound(gramsGroundCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsGroundCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onGroundCoffeeUpdated();
    }

</script>

<h1>{title}</h1>

<label>
    <p>Ratio: {ratio}<p>
    <input type=number bind:value="{ratio}" on:change="{onRatioUpdated}" min=0>
</label>

<label>
    <p>Water: {gramsWater}<p>
    <input type=number bind:value="{gramsWater}" on:input="{onWaterUpdated}" min=0>
</label>

<label>
    <p>Coffee: {gramsGroundCoffee}<p>
    <input type=number bind:value="{gramsGroundCoffee}" on:input="{onGroundCoffeeUpdated}" min=0>
</label>

<div>
    <label>Sweet</label>
    <input type="range" min="0.1" max="0.9" step="0.1" bind:value="{sweetnessAcidityRatio}">
    <label>Acidic</label>
</div>

<div>
    <label>Weaker</label>
    <input type="range" min="1" max="4" step="1" bind:value="{strength}">
    <label>Stronger</label>
</div>


<h2>Instructions</h2>

<ol class="step_list">
    <li>0:00: { gramsPour1 }g</li>
    <li>0:45: { gramsPour2 }g ({ gramsPour1 + gramsPour2 }g total)</li>
    <li>1:30: { gramsPourSixty }g ({ gramsPour1 + gramsPour2 + gramsPourSixty}g total)</li>
    {#if fourPours}<li>{ pour4Time }: { gramsPourSixty }g ({ gramsPour1 + gramsPour2 + gramsPourSixty*2 }g total)</li>{/if}
    {#if fivePours}<li>{ pour5Time }: { gramsPourSixty }g ({ gramsPour1 + gramsPour2 + gramsPourSixty*3 }g total)</li>{/if}
    {#if sixPours}<li>{ pour6Time }: { gramsPourSixty }g ({ gramsPour1 + gramsPour2 + gramsPourSixty*4 }g total)</li>{/if}
    <li>3:30: Brew finished</li>
  </ol>

