<script>

  import JamesHoffmannV60 from "./recipes/james-hoffmann-v60.svelte";
  import JamesHoffmannV60SingleCup from "./recipes/james-hoffmann-v60-single-cup.svelte";
  import MikolajPociechaV60 from "./recipes/mikolaj-pociecha-v60.svelte";
  import TetsuKasuya_4_6Method from "./recipes/tetsu-kasuya-4-6-method.svelte";
  import AramseSofi from "./recipes/aramse-sofi.svelte";

  let recipes = {
      "JamesHoffmannV60": {text: "The Ultimate V60 Technique", component: JamesHoffmannV60},
      "JamesHoffmannV60SingleCup": {text: "A Better 1 Cup V60 Technique", component: JamesHoffmannV60SingleCup},
      "MikolajPociechaV60": {text: "V60 Recipe by Mikolaj Pociecha from Brew", component: MikolajPociechaV60},
      "TetsuKasuya_4_6Method": {text: "Tetsu Kasuya 4:6 method for V60", component: TetsuKasuya_4_6Method},
      "AramseSofi": {text: "Aramse SOFI 72 Brew Guide", component: AramseSofi},
  }

  let selectedRecipe = "JamesHoffmannV60";

</script>

<select bind:value={selectedRecipe}>
  {#each Object.keys(recipes) as recipe}
      <option value={recipe}>
          {recipes[recipe].text}
      </option>
  {/each}
</select>

<svelte:component this={recipes[selectedRecipe].component} />